.alert {
  position: absolute;
  bottom: 10vh;
  right: 2rem;
  padding: 2rem;
  color: #000;
  width: 40rem;
  max-width: 60%;
  border-radius: 20px;
  background-color: #7b7b7b;
  border: 2px solid #fff;
}
.title {
  margin-bottom: 0.4rem;
}
.row {
  margin-bottom: 1rem;
}
